.badges {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 4px 0 0 4px;
    cursor: pointer;
}
.bg-muldian {
    background-color:black;
}
.bg-el-bed {
    background-color: gray;
}
.bg-west-road {
    background-color: rgba(255,0,0, 0.33);
}
.bg-north-road {
    background-color: rgba(0,0,255, 0.33);
}
.bg-east-road {
    background-color: rgba(0,255,0, 0.33);
}
.bg-himurartu {
    background-color: rgba(255,0,0, 0.66);
}
.bg-gorda {
    background-color: rgba(0,0,255, 0.66);
}
.bg-nelstadt {
    background-color: rgba(0,255,0, 0.66);
}
.bg-tambrin {
    background-color: rgba(255,0,0, 1);
}
.bg-gorge {
    background-color: rgba(0,0,255, 1);
}
.bg-montori {
    background-color: rgba(0,255,0, 1);
}
